.home {
  max-width: 1200px;

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 300px; /* The height of the footer + spacing */

  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 0;
}

.top {
  height: 100vh;
}

.top * {
  z-index: 3;
}

.headerInfo {
  position: relative;
  z-index: 4;
  margin-top: -60px;
  width: 50%;
}

.styledTitle {
  display: inline;
  font-weight: bold;
  line-height: 1.2;
  font-size: 3.5rem;
}

.groupImg {
  position: absolute;
  margin-top: -60px;
  right: -100px;
  width: 700px;
  height: auto;
  color: #93f7a3;
}

.homeBtn {
  margin-top: 50px;
  width: fit-content;
  font-size: 1em;
}

.nodes1 {
  position: absolute;
  z-index: 0;
  filter: grayscale(1) blur(0.1em);
  width: 800px;
  right: -300px;
}

.nodes2 {
  position: absolute;
  z-index: 0;
  filter: grayscale(1) blur(0.1em);
  width: 1000px;
  left: -300px;
}

.manual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15em;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 6.5em;
}

.section * {
  z-index: 3;
}

.textSection {
  display: flex;
  flex-direction: column;
}

.section button {
  background-color: #eeeeeeff;
  width: fit-content;
}

.section1Btn {
  color: #53f76e;
}

.section2Btn {
  color: #e4441c;
}
