@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.home {
  max-width: 1200px;

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 300px; /* The height of the footer + spacing */

  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 0;
}

.top {
  height: 100vh;
}

.headerInfo {
  position: relative;
  margin-top: -30px;
  width: 50%;
}

.styledTitle {
  display: inline;
  font-weight: bold;
  line-height: 1.2;
  font-size: 3.5rem;
}

.groupImg {
  position: absolute;
  right: -100px;
  width: 700px;
  height: auto;
  color: #93f7a3;
}

.homeBtn {
  margin-top: 50px;
  width: fit-content;
  font-size: 1em;
  font-family: Inter, sans-serif;
}

.comment {
  font-family: Inter, sans-serif;
}

.manual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15em;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 6.5em;
}

.textSection {
  display: flex;
  flex-direction: column;
}
