.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  width: 100%;
  padding: 0.2em;
  margin: 0 !important;
  gap: 0.5em;
}

.loginBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
