footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
}

.main {
  height: 190px;
}

.bottom {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9eb;
}
