.CreateEvent {
  /* display: flex; */
  margin: 0 auto;
  align-items: center;
  width: fit-content;
}

.header {
  text-align: center;
  margin-bottom: 1em;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 700px;
  height: max-content;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.textarea {
  width: 400px;
}
