.items {
  display: flex;
  align-items: center;
  margin: auto;
}

.myprofile {
  width: 400px;
  text-align: center;
}

.membergroups {
  width: 400px;
  align-items: center;
}

.admingroups {
  width: 400px;
  align-items: center;
}
