.event {
  width: 300px;
}

.event .description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.requestForm {
  width: 100%;
}

.groupLeaderSelect {
  width: 150px;
}
